<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Identificação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/Perfil.jpeg" alt="Minha Foto">

  <h3>Guilherme de Souza Chuisso</h3>

  <div>
    <h4>Unidade: CG</h4>
    <h4>Turno: Manhã</h4>
    <h4>Turma: ADS0301M</h4>
  </div>

  <p style="font-family: monospace; margin-top: 15px;">
    <strong>Palavra-chave:</strong> [Insira a Palavra Aqui]
  </p>

  <ion-button routerLink="/color-change">Configurar Cores</ion-button>

</ion-content>